################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/indiv/v15/Server/sqlite3
/.vs/indiv/v15
/indiv/bin/Debug
/indiv/obj/Debug/TempPE
/indiv/obj/Debug
